@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}
html {
    scroll-behavior: smooth;
    ::-webkit-scrollbar {
        display: none;
    }
}



body {
    font-family: 'Raleway', sans-serif;
    width: 100vw;

    scrollbar-width: none;
        overflow-x: hidden;
    -ms-overflow-style: none;

}

link {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.flexCenter {
    @apply flex justify-center items-center;
}

.flexBetween {
    @apply flex justify-between items-center;
}

.flexStart {
    @apply flex items-center justify-start;
}

.title {
    @apply text-2xl md:text-4xl font-bold mb-1;
}

.gallery-container img {
    width: 25%;
}


@media (max-width: 450px) {
    .gallery-container img {
        width: 100%;
    }

}

.news-gallery{
    display: grid;
    grid-gap: 5rem;
    grid-template-columns: repeat(auto-fill,minmax(270px, 1fr));
}

.title-secondary {
    @apply text-xl md:text-4xl text-center font-semibold;
}

.text-small {
    @apply text-sm font-medium;
}

.paddings {
    @apply lg:px-20 py-6 px-5;
}

::-webkit-scrollbar {
    width: 5px;
    height: 4px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 12px;
}

.modal-head-text {
    @apply md:text-5xl text-3xl font-extrabold text-left max-w-5xl w-full;
}

.no-result-text {
    @apply w-full text-center my-10 px-2;
}


.animate-gradient {
    background-size: 300%;
    -webkit-animation: animatedgradient 6s ease infinite alternate;
    -moz-animation: animatedgradient 6s ease infinite alternate;
    animation: animatedgradient 6s ease infinite alternate;
}


@keyframes animatedgradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

/* Home */
.projects-grid {
    @apply grid xl:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-10 mt-10 w-full;
}

.inputStyle{
    @apply mb-4 w-full border border-gray-300 bg-white text-black placeholder-gray-600 focus:outline-none focus:border-strong-azure focus:border-2;
}


.bg-img {
    background-image: url("/images/yellow-fabric-bg.png");
    background-size: cover;
    background-position: center;
}


.bg-runners {
    background-image: url("https://mzeawjitgciqwretgwlc.supabase.co/storage/v1/object/public/supabase-run-for-ukraine/files/IMG_4445%201.png?t=2024-08-04T10%3A31%3A06.733Z"
    );
    background-size: cover;
    background-position: center;
}


.bg-yellow-black-stripes {
    background-image: url("/images/yellow-black-stripe.png");
    background-size: 7%;
}

.bg-img-24-feb-24 {
    background: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)),url("/images/24-feb-cover.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

/*.bg-img-run{*/
/*    background-image: url("https://secondfront-cdn.nyc3.cdn.digitaloceanspaces.com/runforukraine2023%2Fgallery%2Frsz_120220529ukrainiansatottawarw_ta312.jpg");*/
/*    background-size: cover;*/
/*}*/

.bg-img-israel{
    background-image: url("../../../public/images/stend-with-israel.png");
    background-size: cover;
    background-repeat: no-repeat;

}

.bg-israeli {
    @apply mt-[85px] min-w-full md:mt-[135px] min-h-[30px] md:min-h-[60px] outline outline-4 outline-white outline-offset-1  border-y-4 border-israel-blue;
}

/* Navbar */
.navbar {
    @apply p-8 border-b gap-4;
}


.bg-svg-wrapper {
    margin: auto;
    margin-top: -1px;
}

.inner-b{
    box-shadow: inset 0px 10px 0px 0px #0057b8;
}