@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    ::-webkit-scrollbar {
        display: none;
    }
}



body {
    font-family: 'Raleway', sans-serif;
    width: 100vw;

    scrollbar-width: none;
        overflow-x: hidden;
    -ms-overflow-style: none;

}



.flexCenter {
    @apply flex justify-center items-center;
}

.flexBetween {
    @apply flex justify-between items-center;
}

.flexStart {
    @apply flex items-center justify-start;
}

.title {
    @apply text-2xl font-semibold mb-1;
}

.gallery-container img {
    width: 25%;
}


@media (max-width: 450px) {
    .gallery-container img {
        width: 100%;
    }

}


.title-secondary {
    @apply text-xl md:text-4xl text-center font-semibold;
}

.text-small {
    @apply text-sm font-medium;
}

.paddings {
    @apply lg:px-20 py-6 px-5;
}

::-webkit-scrollbar {
    width: 5px;
    height: 4px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 12px;
}

.modal-head-text {
    @apply md:text-5xl text-3xl font-extrabold text-left max-w-5xl w-full;
}

.no-result-text {
    @apply w-full text-center my-10 px-2;
}


.animate-gradient {
    background-size: 300%;
    -webkit-animation: animatedgradient 6s ease infinite alternate;
    -moz-animation: animatedgradient 6s ease infinite alternate;
    animation: animatedgradient 6s ease infinite alternate;
}


@keyframes animatedgradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

/* Home */
.projects-grid {
    @apply grid xl:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-10 mt-10 w-full;
}

.inputStyle{
    @apply mb-4 w-full p-3 border bg-white text-black placeholder-gray-500 focus:outline-none focus:border-strong-azure;
}


.bg-img {
    background-image: url("/images/yellow-fabric-bg.png");
    background-size: cover;
}

/*.bg-img-run{*/
/*    background-image: url("https://secondfront-cdn.nyc3.cdn.digitaloceanspaces.com/runforukraine2023%2Fgallery%2Frsz_120220529ukrainiansatottawarw_ta312.jpg");*/
/*    background-size: cover;*/
/*}*/

.bg-img-israel{
    background-image: url("../../../public/images/stend-with-israel.png");
    background-size: cover;
    background-repeat: no-repeat;

}

.bg-israeli {
    @apply mt-[85px] min-w-full md:mt-[135px] min-h-[30px] md:min-h-[60px] outline outline-4 outline-white outline-offset-1  border-y-4 border-israel-blue;
}

/* Navbar */
.navbar {
    @apply p-8 border-b gap-4;
}


/* Footer */
/*.footer {*/
/*    @apply flex-col paddings w-full gap-20 bg-light-white;*/
/*}*/

/*.footer_copyright {*/
/*    @apply max-sm:flex-col w-full text-sm font-normal;*/
/*}*/

/*.footer_column {*/
/*    @apply flex-1 flex flex-col gap-3 text-sm min-w-max;*/
/*}*/
